.student {
    display: flex;
}

.student:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.student-pic {
    flex: 1;
    padding: 1em;
}

.student-pic > div {
    height: 120px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 60px;
}

.student-details {
    flex: 4;
}

.student-details > h1 {
    font-size: 32px;
    text-transform: uppercase;
    margin: 0.25em 0;
}

.student-details > div {
    font-size: 14px;
    margin-left: 1em;
    line-height: 1.3;
}

.dropdown {
    margin-top: 15px;
}

.dropdown-button     {
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    background-color: white;
    margin-right: 5px;
    margin-top: 10px;
}

.dropdown-button svg{
    width: 100%;
    height: 100%;
}

.dropdown-button path{
    fill: gray;
}

.dropdown-button:focus {
    outline: none;
}

.search {
    font-size:12px;
}

.tags {
    margin-top:20px;   
    margin-bottom: 10px;
}

span.tag {
    margin-right:4px;
    background-color: #ccc;
    border-radius: 3px;
    padding: 7px;
    font-size: 12px;
}


.tag span{
    border-radius: 3px;
    padding: 7px;
    font-size: 12px;

}
